{{! Base configuration template for listing settings fields }}
<fieldset class="settings-section">
    {{#if legend}}
        <legend>{{legend}}</legend>
    {{/if}}
    <div class="settings-list">
        {{#each fields}}
            <div class="form-group">
                <label for="{{name}}">{{label}}</label>
                <div class="form-fields">
                    {{#if (eq type "boolean")}}
                        <input type="checkbox" id="{{name}}" name="{{name}}" {{#if value}}checked{{/if}} />
                    {{else if (eq type "number")}}
                        <input type="number" id="{{name}}" name="{{name}}" value="{{value}}" />
                    {{else}}
                        <input type="text" id="{{name}}" name="{{name}}" value="{{value}}" />
                    {{/if}}
                </div>
                {{#if hint}}
                    <p class="notes">{{hint}}</p>
                {{/if}}
            </div>
        {{/each}}
    </div>
</fieldset>
